/* https://maketintsandshades.com/#263238 */
:root {
  --color-dark: rgba(0, 0, 0, 0.8);
  --color-dark-medium: #93999c;
  --color-grey: #e9ebeb;

  --color-primary: #db6c48;
  --color-primary-medium: #fecdbb;
  --color-primary-light: #fff1ee;

  --color-orange: #ffba69;
  --color-flamingo: #ff708b;
  --color-violet: #8675ff;
  --color-violet-light: #c5caff;
  --color-purple: #7519f7;

  --color-navy: #03f0e2;
  --color-navy-light: #03d8cb;
}
